#Program to convert Fahrenheit to Celsius

In [5]:
F= int(input("Enter the temp. :"))
C = (F - 32)*(5/9)
print("Temp. in Celsius is :",C)

Enter the temp. :99
Temp. in Celsius is : 37.22222222222222

In [6]:
##Program to swap the value of two variable using temp variable.

In [7]:
var1,var2=345,76
temp=0
print(var1,var2)
temp=var1
var1=var2
var2=temp
print(var1,var2)

345 76
76 345

In [8]:
##Program to find out distance between two points.

In [1]:
x1=int(input('Enter the value of coordinate of x1:'))
x2=int(input('Enter the value of coordinate of x2:'))
y1=int(input('Enter the value of coordinate of y1:'))
y2=int(input('Enter the value of coordinate of y2:'))
dist=((((x2 - x1)**2 + (y2 - y1) **2))**(0.5))
print('The distance between two points is ',dist)

Enter the value of coordinate of x1:2
Enter the value of coordinate of x2:4
Enter the value of coordinate of y1:2
Enter the value of coordinate of y2:4
The distance between two points is  2.8284271247461903

In [2]:
##Program to perform the following operation in tuple.

In [4]:
#Maxima
t=(12, 342, 673, 234)
print(max(t))

673

In [5]:
#Minima
t=(12, 342, 673, 234)
print(min(t))

12

In [10]:
#Sum
t1=(12, 13, 67, 98)
t2=(167, 7, 56, 8)
print(sum(t1 + t2))

428

In [11]:
#Slicing
t=(12, 342, 673, 234)
print(t[1:4])

(342, 673, 234)

In [12]:
#Obtaining a list from tuple 
t=(2, 32, 73, 34)
print(list(t))

[2, 32, 73, 34]

In [14]:
#comparing two tuples
t1=(2, 85, 23, 24)
t2=(121, 2, 31, 4)
print(t1==t2)
print(t1>t2)
print(t1<t2)

False
False
True

In [17]:
#Printing two tuple of different data type
Numeric_tuple=(2, 32, 73, 34)
Alphabatic_tuple=('History',' Student', 'Parul', 'Ram')
print(Numeric_tuple)
print(Alphabatic_tuple)

(2, 32, 73, 34)
('History', ' Student', 'Parul', 'Ram')

In [10]:
##find out sq.root of two numbers

In [ ]:
num= input('Enter a number')
print('square root of num',num**0.5)

In [21]:
## find out factorial of a number.
n= int(input("Enter a no. :"))
fact=1
for i in range(1,n+1):
    fact*=i
print('Factorial of number',fact)

Enter a no. :4
Factorial of number 24

In [22]:
#find out sum of digis of number.

In [3]:
num=int(input('Enter a number :'))
sum=0
while(num != 0):
    sum=sum + int(num%10)
    num=num/10
print(sum)

Enter a number :123
6

In [31]:
##Reverse to  a given number.

In [1]:
Number=(input('Enter a number :'))
reverse_num= Number[::-1]
print('Reverse series of number :',reverse_num)

Enter a number :123
Reverse series of number : 321

In [2]:
##check the given no. is palindrome or not.

In [1]:
r="ParaP"
if r==r[::-1]:
    print('Palindrome')
else:
    print('Not polindrome')

Palindrome

In [4]:
##Fibonacci series

In [ ]:
Fibonacci=int(input('Enter a number :'))
def fib(n):
    if n<0:
        print("incorrect number")
    elif n==0:
        return 0
    elif n==1 or n==2:
        return 1
    else:
        return fib(n-1)+fib(n-2)
print('Fibonacci series is ',fib(Fibonacci))

Enter a number :123321

In [4]:
##print prime numbers in a range

In [1]:
lower =int(input('Enter lower Range value :'))
upper =int(input('Enter Upper Range value :'))
for num in range(lower , upper +1):
    if num>1:
        for i in range(2, num):
            if (num%i)==0:
                break
            else:
                print(num)

Enter lower Range value :3
Enter Upper Range value :12
3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11

In [1]:
import numpy as np

In [3]:
import pandas as pd