In [1]:
a=b=c=1

In [2]:
print(a)

1

In [3]:
print(b)

1

In [4]:
print(c)

1

In [5]:
str='python'

In [6]:
print(str)

python

In [7]:
print(str[2])
print(str[1:4])
print(str[-8:])

t
yth
python

In [8]:
str1='123456789'

In [9]:
print(str1[::2])

13579

In [9]:
str2="{} {} {} ".format('Math','Hindi','English')
print(str2)

Math Hindi English

In [3]:
str2="{2} {1} {0} ".format('Math','Hindi','English')
print(str2)

english hindi math

In [10]:
str2="{} {} {} ".format('Math','Hindi','English')
print(str2)
a='Mahesh'
b="Good"
print(f"{a} is a {b} boy.")

Math Hindi English
Mahesh is a Good boy.

In [11]:
str2="{a} {b} {c} ".format(a='Math',b='Hindi',c='english')
print(str2)

Math Hindi english

In [12]:
str2="{a} {b} {b} {c} {a} ".format(a ='Math',b='Hindi',c='english')
print(str2)

Math Hindi Hindi english Math

In [14]:
list1=['123','Modi','john','765.3','university']
print(list1)

['123', 'Modi', 'john', '765.3', 'university']

In [37]:
list2=['1728','SAP']
print(list2)
list2[1]='Google'
print(list2)

['1728', 'SAP']
['1728', 'Google']

In [38]:
print(list1+list2)

['123', 'Modi', 'john', '765.3', 'university', '1728', 'Google']

In [39]:
print(list1*2)

['123', 'Modi', 'john', '765.3', 'university', '123', 'Modi', 'john', '765.3', 'university']

In [23]:
list1.append("Parul")
print(list1)

['123', 'Modi', 'john', '765.3', 'university', 'Parul']

In [24]:
list1.remove("Parul")
(list1)

['123', 'Modi', 'john', '765.3', 'university']

In [27]:
str4= 'Ram is good boy.'
str4.split()

['Ram', 'is', 'good', 'boy.']

In [2]:
str5=str(input("Enter your name :"))
print(str5)
print(str5*2)
print(str5.split())

Enter your name :My name is Ravi
My name is Ravi
My name is RaviMy name is Ravi
['My', 'name', 'is', 'Ravi']

In [1]:
str5=(input("Enter any sequence :"))
l=str5.split()
print(l)
str6="Python is a programming language."
l=str6.split()
print(l)

Enter any sequence :1234 151
['1234', '151']
['Python', 'is', 'a', 'programming', 'language.']

In [17]:
str7='parul is for python'
print(str7.split('p'))

['', 'arul is for ', 'ython']

In [20]:
t =('123','Abhishek', '234.67', 'India')
print(t)
type(t)

('123', 'Abhishek', '234.67', 'India')

tuple

In [21]:
t[2]=1234
li=['123','Abhishek', '234.67', 'India']
li[1]=1234

TypeError: 'tuple' object does not support item assignment

In [23]:
dict1={'name':'Ravi','college':'Parul unversity','enroll.':'1234'}
print(dict1)
type(dict1)
print(dict1.keys())
print(dict1.values())

{'name': 'Ravi', 'college': 'Parul unversity', 'enroll.': '1234'}
dict_keys(['name', 'college', 'enroll.'])
dict_values(['Ravi', 'Parul unversity', '1234'])

In [25]:
print(dict1['name'])

Ravi

In [26]:
print(dict1['Ravi']) # we can not access key through it's value.

KeyError: 'Ravi'